<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Django</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'cards/style.css' %}?{% now "U" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light  justify-content-between">
      <a class="navbar-brand collapse navbar-collapse" href="{% url 'cards:index' %}">MTG Card Collection</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user.is_authenticated %}  
          <h4 class="navbar navbar-text">{{user.get_username}}</h4>
          <form  class="logout navbar" action="{% url "users:logout" %}" method="post">
            {% csrf_token %}
            <button class="logout-button navbar btn btn-primary btn-lg ">Logout</button>
          </form>
      {% else %}
          <a class="nav-authentication-links navbar" href="{% url "users:login" %}">
                <button class="btn btn-primary btn-lg">Login</button>
          </a>
          <a class="nav-authentication-links navbar" href="{% url "users:register" %}">
                <button class="btn btn-secondary btn-lg">
                    Register
                </button>
          </a>  
      {% endif %} 
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>