{% extends 'base.html' %}
{% block content %}
    <h2>
        My Collections
    </h2>
    &nbsp;
    {% if latest_collection_list %}
    <ul class="list-group">
    {% for collection in latest_collection_list %}
        <li class="collection-list list-group-item"><a href="{% url 'cards:detail' collection.id %}" id="collection-list-link">{{ collection.collection_name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No collections are available.</p>
    {% endif %}
{% endblock %}